if status is-interactive
# Commands to run in interactive sessions can go here

# Это алиасы для удобного управления
alias sudo='sudo '
alias open="xdg-open ."

# Это алиасы обязательны даже на сервере для отображения цветного вывода ls
alias ls="lsd"
alias ll="lsd -l"
alias l="lsd -la"
alias m='micro'
alias sm='sudo micro'
alias df="duf"
alias man="tldr"
alias find="fd"
alias du="ncdu"

# Это алиасы используются для цветного вывода команд через утилиту grc
alias sudo='sudo '
alias ant='grc ant'
alias blkid='grc blkid'
alias configure='grc configure'
alias curl='grc curl'
alias cvs='grc cvs'
alias df='grc df'
alias diff='grc diff'
alias dig='grc dig'
alias dnf='grc dnf'
alias dockerimages='grc dockerimages'
alias dockerinfo='grc dockerinfo'
alias dockernetwork='grc dockernetwork'
alias dockerps='grc dockerps'
alias dockerpull='grc dockerpull'
alias dockersearch='grc dockersearch'
alias du='grc du'
alias env='grc env'
alias esperanto='grc esperanto'
alias fdisk='grc fdisk'
alias findmnt='grc findmnt'
alias free='grc free'
alias gcc='grc gcc'
alias getfacl='grc getfacl'
alias getsebool='grc getsebool'
alias go-test='grc go-test'
alias id='grc id'
alias ifconfig='grc ifconfig'
alias iostat_sar='grc iostat_sar'
alias ip='grc ip'
alias ipaddr='grc ipaddr'
alias ipneighbor='grc ipneighbor'
alias iproute='grc iproute'
alias iptables='grc iptables'
alias iwconfig='grc iwconfig'
alias jobs='grc jobs'
alias kubectl='grc kubectl'
alias last='grc last'
alias ldap='grc ldap'
alias log='grc log'
alias lolcat='grc lolcat'
#alias ls='grc ls'
alias lsattr='grc lsattr'
alias lsblk='grc lsblk'
alias lsof='grc lsof'
alias lspci='grc lspci'
alias lsmod='grc lsmod'
alias mount='grc mount'
#lias mtr='grc mtr'
alias mvn='grc mvn'
alias netstat='grc netstat'
alias nmap='grc nmap'
alias ntpdate='grc ntpdate'
alias php='grc php'
alias ping='grc ping'
alias ping2='grc ping2'
alias proftpd='grc proftpd'
alias ps='grc ps'
alias pv='grc pv'
alias semanageboolean='grc semanageboolean'
alias semanagefcontext='grc semanagefcontext'
alias semanageuser='grc semanageuser'
alias sensors='grc sensors'
alias showmount='grc showmount'
alias sockstat='grc sockstat'
alias sql='grc sql'
alias ss='grc ss'
alias stat='grc stat'
alias sysctl='grc sysctl'
alias systemctl='grc systemctl'
alias tcpdump='grc tcpdump'
alias traceroute='grc traceroute'
alias tune2fs='grc tune2fs'
alias ulimit='grc ulimit'
alias uptime='grc uptime'
alias vmstat='grc vmstat'
alias wdiff='grc wdiff'
alias whois='grc whois'
alias yaml='grc yaml'



end

